$space-xs: 4px;
$space-small: 8px;
$space-medium: 16px;
$space-large: 32px;
$break-small: 600px;
$break-big: 960px;

$menu-width: $space-large + $space-xs;

#cb-mcts-stats {
    // matches line height of probabilty string
    height: 56px;
    padding-left: $space-small;
}


.cb-main-content {
    @media screen and (min-width: $break-big) {        
        width: 50vw;
        min-width: $break-big * 0.8;
    }
    
    @media screen and (max-width: $break-big - 1 ) and (min-width: $break-small) {        
        width: 80vw;
        min-width: $break-small;
    }
    
    @media screen and (max-width: $break-small - 1) {        
        height: 80vh;
    }
}

.md-button {
    &.menu {
    background-color: transparent;
    border: none;
    height: 38px;
    margin: $space-medium;
    width: $menu-width;
    min-width: $menu-width;
    }
}

md-card {
    &.cb-card-stats {
        height: 150px;
        min-height: 150px;
        min-width: 250px;
    }
}

.cb-cards-stats {
    align-content: flex-start;
    
    @media screen and (min-width: $break-small) {        
        flex-wrap: wrap;
    }
    
}

span {
    &.cb-key-name {
        padding-right: $space-large;
    }
}

md-list {
    &.cb-compact-list {
        padding-top: 0;
    }
}

md-sidenav {
    md-content {
        h3 {
            margin: $space-small;
        }
    }
}

canvas {
    &.cb-dragging {
        cursor: grabbing;
        cursor: -webkit-grabbing;
        cursor: -moz-grabbing;
    }
    
    &.cb-drag {
        cursor: move;
        cursor: grab;
        cursor: -webkit-grab;
        cursor: -moz-grab;
    }
}