$square-size: 60px;
$board-size: $square-size * 8;
$shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.54);

$space-xs: 4px;
$space-small: 8px;
$space-medium: 16px;
$space-large: 32px;

md-card {
    min-width: 250px;
}

md-card#checkers-board-card {
    min-width: $board-size;
    min-height: $board-size;
}

checkers-board {
    max-width: 448px;
    max-height: 448px;
}


span {
    &.cb-key-name {
        padding-right: $space-large;
    }
}

md-list {
    &.cb-compact-list {
        padding-top: 0;
    }
}
