$square-size: 60px;
$board-size: $square-size * 8;
$shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.54);

$space-xs: 4px;
$space-small: 8px;
$space-medium: 16px;
$space-large: 32px;

$menu-width: $space-large + $space-xs;

.md-button {
    &.menu {
    background-color: transparent;
    border: none;
    height: 38px;
    margin: $space-medium;
    width: $menu-width;
    min-width: $menu-width;
    }
}


md-card {
    min-width: 250px;
    &.cb-card-stats {
        max-width: 370px;
    }
}

md-card#checkers-board-card {
    min-width: $board-size;
    min-height: $board-size;
}

checkers-board {
    max-width: 448px;
    max-height: 448px;
}


span {
    &.cb-key-name {
        padding-right: $space-large;
    }
}

md-list {
    &.cb-compact-list {
        padding-top: 0;
    }
}

dl {
    &.cb-kv-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: $space-small $space-medium; 
        
        dt {
            width: 30%;
        }
        
        dd {
           width: 40%;
        }
    }
}


md-sidenav {
    md-content {
        h3 {
            margin: $space-small;
        }
    }
}