<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Checkers | HTML5</title>
    <link rel="stylesheet" type="text/css" href="styles/app.css">
    <link rel="stylesheet" type="text/css" href="scripts/angular-material/angular-material.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body ng-app="app" ng-cloak>
    <div layout="column" layout-fill ng-controller="AppController as appCtrl">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button ng-click="appCtrl.toggleMenu()" aria-label="Show Settings" class="menu">
                    <md-icon md-font-icon="material-icons">menu </md-icon>
                </md-button>
                <span>Checkers</span>
                <span flex></span>
            </div>
        </md-toolbar>
        <div layout="row" flex>
            <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4" md-is-open="appCtrl.isSidenavOpen">
                <md-toolbar>
                    <h1 class="md-toolbar-tools">Game Settings </h1>
                </md-toolbar>
                <md-content layout-padding>
                    <h3>A.I. Computation</h3>
                    <md-slider-container>
                        <md-icon md-font-icon="material-icons">av_timer</md-icon>
                        <md-slider ng-model="appCtrl.computeOptions.maxTime" 
                            aria-label="Max Compute Time" flex md-discrete min="100" max="5000"></md-slider>
                        <md-input-container>
                            <input flex type="number" ng-model="appCtrl.computeOptions.maxTime" aria-label="Max Compute Time" 
                                aria-controls="maxTime-slider">
                        </md-input-container>
                    </md-slider-container>
                    <md-slider-container>
                        <md-icon md-font-icon="material-icons">work</md-icon>
                        <md-slider ng-model="appCtrl.computeOptions.maxIterations" 
                            aria-label="Max Iterations" flex md-discrete min="1000" max="20000"></md-slider>
                        <md-input-container>
                            <input flex type="number" ng-model="appCtrl.computeOptions.maxIterations" aria-label="Max Iterations" 
                                aria-controls="maxIterations-slider">
                        </md-input-container>
                    </md-slider-container>
                </md-content>
            </md-sidenav>
            <md-content flex layout>
                <div layout-gt-xs="row" layout-xs="column" flex>
                    <div layout="column" class="cb-main-content">
                        <md-card id="checkers-board-card" md-theme="card-default" flex>
                            <md-card-content layout="column" layout-align="space-between" flex>
                                <checkers-board sprites-image-url="images/piecesSprite.svg" sprite-size="50" 
                                    flex layout layout-align="center center"></checkers-board>
                                <md-card-actions layout="row" layout-align="end center">
                                    <md-button ng-click="appCtrl.restart()">Restart</md-button>
                                </md-card-actions>
                            </md-card-content>
                        </md-card>
                    </div>
                    <div flex-gt-xs layout-gt-xs="row" layout-xs="column" class="cb-cards-stats">
                        <md-card md-theme="card-blue-dark" class="cb-card-stats">
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">Game stats</span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-card-content layout>
                                <checkers-game-stats flex layout></checkers-game-stats>
                            </md-card-content>
                        </md-card>

                        <md-card md-theme="card-red" class="cb-card-stats">
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">Winning Probablity</span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-card-content layout>
                                <checkers-mcts-stats layout flex></checkers-mcts-stats>
                            </md-card-content>
                        </md-card>
                    </div>
                </div>
            </md-content>
        </div>
    </div>

    <script src="scripts/jquery/dist/jquery.js"></script>
    <script src="scripts/angular/angular.js"></script>

    <script src="scripts/angular-animate/angular-animate.js"></script>
    <script src="scripts/angular-aria/angular-aria.js"></script>
    <script src="scripts/angular-messages/angular-messages.js"></script>
    <script src="scripts/angular-material/angular-material.js"></script>

    <script src="scripts/bundle.js"></script>
</body>

</html>