[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

#cb-mcts-stats {
  height: 56px;
  padding-left: 8px; }

@media screen and (min-width: 960px) {
  .cb-main-content {
    width: 50vw;
    min-width: 768px; } }

@media screen and (max-width: 959px) and (min-width: 600px) {
  .cb-main-content {
    width: 80vw;
    min-width: 600px; } }

@media screen and (max-width: 599px) {
  .cb-main-content {
    height: 80vh; } }

.md-button.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
  min-width: 36px; }

md-card.cb-card-stats {
  height: 150px;
  min-height: 150px;
  min-width: 250px; }

.cb-cards-stats {
  align-content: flex-start; }
  @media screen and (min-width: 600px) {
    .cb-cards-stats {
      flex-wrap: wrap; } }

span.cb-key-name {
  padding-right: 32px; }

md-list.cb-compact-list {
  padding-top: 0; }

md-sidenav md-content h3 {
  margin: 8px; }

canvas.cb-dragging {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing; }

canvas.cb-drag {
  cursor: move;
  cursor: grab;
  cursor: -webkit-grab;
  cursor: -moz-grab; }
