md-card {
  min-width: 250px; }

md-card#checkers-board-card {
  min-width: 480px;
  min-height: 480px; }

checkers-board {
  max-width: 448px;
  max-height: 448px; }

span.cb-key-name {
  padding-right: 32px; }

md-list.cb-compact-list {
  padding-top: 0; }
