.md-button.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
  min-width: 36px; }

md-card {
  min-width: 250px; }
  md-card.cb-card-stats {
    max-width: 370px; }

md-card#checkers-board-card {
  min-width: 480px;
  min-height: 480px; }

checkers-board {
  max-width: 448px;
  max-height: 448px; }

span.cb-key-name {
  padding-right: 32px; }

md-list.cb-compact-list {
  padding-top: 0; }

dl.cb-kv-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 8px 16px; }
  dl.cb-kv-list dt {
    width: 30%; }
  dl.cb-kv-list dd {
    width: 40%; }

md-sidenav md-content h3 {
  margin: 8px; }
